@import '../Variables';

.language {
  position: absolute;
  top: 0;
  left: 0;

  margin: .75em;
  cursor: pointer;

  .language--chosen{
    display: flex;
    margin-left: .6em;
  }

  .language-icon {
    width: 26px;
    height: auto;
    margin: 0 .5em;
  }

  .language-name {
    display: flex;
    align-items: center;

    padding: 0 .5em;
    border-left: 2px solid var(--clr-light);

    color: var(--clr-light);
    font-size: 18px;
  }

  .language-list{
    display: none;

    position: absolute;
    top: 40px;
    left: 0;

    list-style-type: none;
    background-color: var(--clr-light);
    border-radius: 5px;

    padding: .75em 1em .75em .75em;

    .language-list_element{
      display: flex;
      align-items: center;

      font-size: 18px;
      font-weight: 500;
      color: var(--clr-grey);

      &:not(:last-child){
        margin-bottom: .5em;
      }
    }

    .language-list_element--active{
      color: var(--clr-black);
    }
  }

  .language-list--opened{
    display: block;
  }
}
