@import '../Variables';

.project {
  margin-top: 3em;

  &:nth-child(n+3) {
    margin-top: 6em;
  }

  .project-image {
    background: url('../../resources/images/mockup.png') no-repeat;
    background-size: cover;

    filter: brightness(50%);
    cursor: pointer;

    margin: 1em 0 2em 0;
    width: 100%;
    height: 220px;

    transition: filter .15s ease-in-out;

    &:hover {
      filter: brightness(100%);
    }
  }

  .project-info {
    display: flex;
    flex-direction: column;

    color: var(--clr-black);
    background-color: var(--clr-lightestpink);
    box-shadow: 7px 7px 8px -4px rgba(0, 0, 0, 0.15);

    padding: 1em;

    .project-info-desc {
      line-height: 1.25em;
    }

    .project-info-list {
      display: flex;

      margin-top: 2em;
      list-style-type: none;

      .project-info-element {
        margin-right: 1em;

        color: var(--clr-technology);
      }
    }
  }

  .project-links {
    display: flex;
    flex-direction: row;

    margin-top: 1.25em;
    list-style-type: none;

    .project-links-element {
      display: flex;
      align-items: center;

      margin-right: 2em;

      font-weight: 550;
      color: var(--clr-lightergrey);

      cursor: pointer;
      transition: all .15s ease-in-out;

      .project-links-icon {
        margin-right: .5em;
        font-size: 20px;

        &.icon-gitlab {
          font-size: 24px;
        }
      }

      &:hover {
        color: var(--clr-black);
        opacity: .7;
      }
    }
  }
}
