@import '../Variables.scss';

.home {
  background-color: var(--bkg-lightgray);
  padding: 5em 1.5em;
  display: flex;
  flex-direction: column;;

  .home-left {
    display: flex;
    flex-direction: column;

    .home-title--s {
      color: var(--clr-pink);
      font-weight: 600;
      margin-bottom: .75em;
    }

    .home-title--m {
      font-size: 20px;
      font-weight: 500;
      opacity: .6;
    }

    .home-title--l {
      font-size: 36px;
    }

    .home-title--paragraph {
      margin: 1.5em 0 2.5em 0;
      line-height: 1.25em;
    }
  }

  .home-right {

    .home-image {
      width: 100%;
      height: auto;
      display: none;
    }
  }
}
