//MEDIA QUERIES
$break-tablet: 768px;

:root {
  //COLORS
  --clr-black: #141414;
  --clr-lightgrey: #DEDEDE;
  --clr-light: #fff;
  --clr-lightpink: #ffa0a0;
  --clr-lightestpink: #FFD6D6;
  --clr-pink: #F86565;
  --clr-grey: #9b9b9b;
  --clr-darkgrey: #686868;
  --clr-lightergrey: #B8B8B8;
  --clr-technology: #DC8585;
  --clr-copyright-text: #A8A8A8;

  //BACKGROUND
  --bkg-lightgray: #F6F7F8;
  --bkg-blue: #11698E;

  //LINK TRANSITION
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
